body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #111;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 1; 
    font-size: 25px; 
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav img {
    height: 50px;
    width: auto;
}

section {
    padding: 80px 20px;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.cta {
    margin-top: 2rem;
}*/

.movies-container {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.movie {
    width: 200px;
    text-align: center;
}

.movie img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie h3 {
    margin-top: 10px;
    font-size: 16px;
}

.movie p {
    font-size: 14px;
    color: #757575;
}

footer {
    background-color: #111;
    padding: 2rem;
    text-align: center;
}

.footer-logo {
    height: 30px;
    width: auto;
    margin-bottom: 1rem;
}

.footer-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-links a {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fff;
}
